<h1>商品一覧</h1>>
<% @items.each do |item| %>
<P>商品ID</P>
<%= item.id %>
<h3>商品名</h3>
<%= link_to item.name, admin_item_path(item.id) %>
<h3>税抜き価格</h3>
<%= item.price %>
<h3>ジャンル</h3>
<%= item.genre.name %>
<h3>販売ステータス</h3>
<%= item.is_active %>
<% end %>
<%= link_to "新規作成", new_admin_item_path %>