<h1>商品新規登録</h1>

<%= form_with model: @item, url: 'admin_items_path', methoud: :post do |f| %>

<h3>画像</h3>
<%= f.file_field :image, accept: 'image/*' %>

<h3>商品名</h3>
<%= f.text_field :name %>

<h3>商品説明</h3>
<%= f.text_area :introduction %>

<p>税抜き価格</p>
<%= f.text_field :price %>

<p>販売ステータス</p>
<label><%= f.select :is_active, [["販売中", true], ["売り切れ", false]] %></label>

<p>ジャンル</p>
<%= f.collection_select :genre_id, @genres, :id, :name, {prompt: "選択してください"} %>

<h3><%= f.submit '保存' %><h3>
  
<% end %>