<h2>商品詳細</h2>
<p>ジャンル名</p>
<%= @item.genre.name %>
<p>商品画像</p>
<%= image_tag @item.image, size: "200*200" %>
<p>商品名</p>
<%= @item.name %>
<p>商品説明</p>
<%= @item.introduction %>
<p>税抜き価格</p>
<%= @item.price %>
<p>販売ステータス</p>
<%= @item.is_active %>