<main>
<div class="container-md">

<div class="text-center mt-5 col-lg-2">
  <h4 class="text-black bg-secondary ">管理者ログイン</h4>
</div> 


<div class="container-md mt-5">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row text-center">
   <label for="inputEmail" class="col-sm-7 col-form-label" >メールアドレス</label>
   
<div class="col-sm-3">
<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
 </div>
</div>
 
 

  
    <div class="row text-center mt-3">
    <label for="inputPassword" class="col-sm-7 col-form-label">パスワード</label>
    <div class="col-sm-3">
    <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
 </div>

  <div class="container-md mt-5 text-center">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>
</div>
</div>
</div>
</main>