<h1>顧客詳細</h1>
<p>会員ID</p>
<%= @customer.id %>
<p>姓(カナ)</p>
<%= @customer.last_name_kana %>
<p>姓</p>
<%= @customer.last_name %>
<p>名(カナ)</p>
<%= @customer.first_name_kana %>
<p>名</p>
<%= @customer.first_name %>
<P>郵便番号</P>
<%= @customer.postal_code %>
<p>住所</p>
<%= @customer.address %>
<p>電話番号</p>
<%= @customer.telephone_number %>
<p>ステータス</p>
<%= @customer.is_active %>