<h1>ジャンル一覧・追加</h1>

<h3>ジャンルデータ登録</h3>
<%=form_with model: @genre, url: 'genres', methoud: :post do |f| %>
<p>ジャンル名</p>
<%= f.text_field :name %>
<%= f.submit '新規登録' %>
<% end %>

<h3>ジャンル一覧</h3>
<% @genres.each do |genre| %>
<%= genre.name %>
<%=link_to '編集する', edit_admin_genre_path(genre.id) %>
<% end %>

