
<main>
    <div class="container">

  <div class="row mb-4">
    <div class="col-lg-4 text-center">
  <h4 class="text-black bg-secondary  mt-5">注文履歴詳細</h4>
  </div>
  </div>


<div class="row">
  <div class="col-6">
    <h5>注文情報</h5>
  </div>
  <div class="col-3">
    <h5>請求情報</h5>
  </div>
  </div>

<div class="row">
  <div class="col-6">
  <table class="col-12 table-bordered">
    <tbody>
      <tr>
         <td class="col-3 table-active">注文日</td>
         <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <tr>
        <td class="col-3 table-active">配送先</td>
        <td> 〒<%= @order.postal_code %><br>
                <%= @order.address %><br>
                <%= @order.name %></td>
      </tr>
      <tr>
        <td class="col-3 table-active">支払方法</td>
        <td><%= @order.method_of_payment %></td>
      </tr>
      <tr>
        <td class="col-3 table-active">ステータス</td>
        <td><%= @order.order_status %></td>
      </tr>
    </tbody>
  </table>
</div>


<div class="col-3">
  <table class="col-12 table-bordered">
    <tbody>
      <tr>
        <td class="col-5 table-active">
          商品合計
        </td>
        <td>
           <%= @order.billing_amount - @order.shipping_cost %>
        </td>
      </tr>
       <tr>
        <td class=" col-5 table-active">
           配送料
        </td>
        <td>
           <%= @order.shipping_cost %>
        </td>
      </tr>
       <tr>
        <td class="col-5 table-active font-weight-bold ">
          ご請求額
        </td>
        <td>
           <%= @order.billing_amount %>
        </td>
      </tr>
    </tbody>
  </table>
   </div>
   </div>
   </div>

  <div class="row>">
      <div class="col">
          <h4>注文内容</h4>
      </div>

      <table class="col-7 table-bordered">
          <thead>
            <tr class="table-active">
              <th>商品</th>
              <th>単価（税込）</th>
              <th>個数</th>
              <th>小計</th>
              </tr>
          </thead>
          <tbody>
              <% @order_detail.each do |order_detail| %>
              <tr>
                <td><%= order_detail.item.name %></td>
                <td><%= order_detail.price %></td>
                <td><%= order_detail.quantity %></td>
                <td><%= order_detail.price * order_detail.quantity %></td>
              </tr>
              <% end %>
          </tbody>
      </table>
  </div>
  </div>
  </div>